<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/home">/home</a>
            <a mat-list-item routerLink="/products">/products</a>
            <a mat-list-item routerLink="/contact">/contact</a>
            <a mat-list-item routerLink="/admin">/admin</a>
            <a mat-list-item routerLink="/404">/404</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Learning Angular</span>
        </mat-toolbar>

        <!-- Add Content Here -->

        <body class="site">

            <header>
                <mat-toolbar color="primary">
                    <mat-toolbar-row>
                        <div class="row between-xs middle-xs header-row">
                            <nav>
                                <button type="button" aria-label="Toggle sidenav" mat-icon-button
                                    (click)="drawer.toggle()" *ngIf="isHandset$ | async">
                                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                                </button>
                                <a mat-button routerLink="/admin" routerLinkActive="active">Admin</a>
                            </nav>
                            <a routerLink="/order" mat-raised-button [matBadge]="total$ | async" matBadgeColor="warn">
                                <mat-icon>shopping_cart</mat-icon>
                                Carrito
                            </a>
                        </div>
                    </mat-toolbar-row>
                </mat-toolbar>
            </header>

            <main class="site-content">
                <router-outlet *ngIf="true"></router-outlet>
            </main>

        </body>

        <footer>
            <app-footer></app-footer>
        </footer>

    </mat-sidenav-content>

</mat-sidenav-container>