<mat-toolbar color="primary">
    <mat-toolbar-row>
        <div *ngIf="true" class="row between-xs middle-xs footer-row">
            <!-- <p>Learning Angular</p> -->

            <div>
                L
            </div>

            <!-- <p>Current Version: 1.0</p> -->

            <div>
                V
            </div>

            <!-- <p>
                Powered by
                <a href="https://twitter.com/intent/user?user_id=1267326503450263553" target="_blank">
                    @elchitas
                </a>
                ©2020.
            </p> -->

            <div>
                @
                <input type="text">
            </div>

        </div>
    </mat-toolbar-row>
</mat-toolbar>